body {

}

/*
    分页的样式
*/
ul.Paging {
    display: inline-block;
    list-style: none;
}

ul.Paging li {
    display: inline;
    font-size: 16px;
}

ul.Paging li:hover {
    background-color: rgb(155, 155, 155);
}

ul.Paging li input {
    width: 30px;
    text-align: right;
}