<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">
	<targets>
		<target xsi:type="File" name="ErrorLog" fileName="${basedir}/logs/error.log"
				layout="${longdate} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger} ${message}
				${onexception:${exception:format=toString:baseException=true:innerFormat=toString}} ${newline}"
				deleteOldFileOnStartup="false"
				archiveAboveSize="5242880"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/${shortdate}/error.{######}.log">

		</target>
		<target xsi:type="File" name="InfoLog" fileName="${basedir}/logs/info.log"
				layout="${longdate} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger} ${message}
				${onexception:${exception:format=toString:baseException=true:innerFormat=toString}}"
				deleteOldFileOnStartup="false"
				archiveAboveSize="5242880"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/${shortdate}/info.{######}.log">

		</target>
		<target xsi:type="Console" name="ConsoleLog"
				layout="${longdate} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger} ${message} ${exception}">

		</target>
	</targets>
	<rules>
		<rule name="*" minlevel="Warn" writeTo="ErrorLog"></rule>
		<rule name="*" maxlevel="Info" writeTo="InfoLog"></rule>
		<rule name="*" minlevel="Info" writeTo="ConsoleLog"></rule>
	</rules>
</nlog>