
<div>
    <ul>
        <li>
            <a asp-controller="BodyData" asp-action="Index">身体数据</a>
        </li>

        <li>
            <a asp-controller="FilmData" asp-action="Index">电影数据</a>
        </li>
    </ul>
</div>